<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корпоративный магазин</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Корпоративный магазин</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Корзина</button>
</nav>

<div class="sidebar">
    <h4 class="text-center">Корпоративный магазин</h4>
    <a href="#users">Выдача пользователям</a>
    <div class="submenu">
        <a href="#mice">Мыши</a>
        <a href="#headsets">Гарнитуры</a>
        <a href="#docking">Док-станции</a>
    </div>
    <a href="#tools">Инструменты IT</a>
    <a href="#consumables">Расходники</a>
    <div class="submenu">
        <a href="#cables">Кабели</a>
        <a href="#adapters">Переходники</a>
    </div>
</div>


<div class="content">
    <h1>Список товаров</h1>
    <div class="list-group product-list">
        <div class="list-group-item product-item" th:each="product : ${products}">
            <div class="product-info">
                <img th:src="${product.imageUrl}" alt="Изображение товара">
                <div>
                    <h5 class="mb-1">
                        <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}" class="product-link">Название товара</a>
                    </h5>
                    <p class="mb-1" th:text="${product.shortDescription}">Описание товара</p>
                    <button class="btn btn-primary">Добавить в корзину</button>
                    <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline;">
                        <input type="hidden" name="page" th:value="${currentPage}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{|/products?page=${currentPage - 1}|}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}" th:classappend="${page == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{|/products?page=${page}|}" th:text="${page}">1</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{|/products?page=${currentPage + 1}|}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
